.multirange 
{
    display: inline-block;
    width: 80%;
    height: 10px;
}

.multirange_background 
{
    width: 100%;
    height: 10px;
    background-color: #CCC;
    overflow: visible;
}

.multirange_thumb
{
    position: absolute;
    
    background-color: #FFF;

    width: 3px;
    height: 14px;

    cursor: pointer;
}

.multirange_thumb_selected
{
    background-color: #CCFFCC;
}