html,body
{
    color: #AAA;
    background-color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    overflow: hidden;
}

a 
{
    text-decoration: none;
    color: #CCFFCC;
}

label 
{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.noise_property_value
{
    position: absolute;

    margin-left: 5px;

    background-color: transparent;

    color: #AAA;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    border: 0;

    width: 50px;
}

#holder{
    min-height: 100%;
    position: relative;
}

#contents
{
    position: absolute;

    left: 1%;
    top: 1%;
    right: 1%;
    bottom: 1%;

    width: 98%;
    height: 98%;

    overflow: hidden;
}

#footer
{
    font-size: 10px;
    color: #777;

    height: 10px; 
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; 

    text-align: center;
}

.footer_span 
{
    padding-left: 10px;
    padding-right: 10px;
}

.selective_link a 
{
    color: #777;
}

.selective_link a:hover 
{
    color: #CCFFCC;
}

#surface_container
{
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

#surface
{

}

#control_panel
{
    position: absolute;

    height: 98%;

    left: 1%;
    top: 1%;

    z-index: 1;

    width: 367px;

    overflow: auto;
    padding-right: 17px;
}

#progress_bar
{
    width: 0%;
    height: 3px;

    background-color: #6EFC8A;
}

#progress_bar_title 
{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    margin-top: -7px;

    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  

}

.ui_category
{
    width: 330px;

    background-color: rgb(28, 28, 28);
    border: 0px solid #111111;

    margin-bottom: 5px;
    padding: 10px;
}

.category_title
{
    width: 100%;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    font-size: 16px;
}

.ui_holder
{
    text-align: center;
    margin-bottom: 15px;
}

.ui_title
{
    color: #CCC;
    font-weight: bold;
    margin-bottom: 5px;
}

.ui_element
{
    display: inline-block;

    width: 220px;

    margin-left: 15px;
    margin-right: 15px;

    background-color: #CCC;
    border: 0px solid black;

    padding: 2px;
}

.ui_checkbox 
{
    padding: 0;
    margin: 0;
    margin-right: 5px;
    top: -1px;

    vertical-align: bottom;
    position: relative;
}

.big_button
{
    background-color: #CCC;
    border: 1px solid #333;
    border-radius: 5px;

    width: 100px;
    height: 25px;
    margin-top: 15px;
}

.big_button:hover
{
    background-color: #DDD;
    cursor: pointer;
}

.normal_button
{
    width: 25%;

    background-color: #CCC;
    border: 1px solid #333;
    border-radius: 5px;
}

.normal_button:hover
{
    background-color: #DDD;
    cursor: pointer;
}

.color_button_selected
{
    background-color: #CCFFCC;
}

.color_button_selected:hover
{
    background-color: #DDFFDD;
    cursor: pointer;
}

.noise_property_value
{
    display: inline-block;
}

.hidden 
{
    display: none;
}

.multi_scaler 
{
    width: 90%;
    height: 5px;
}

.ui_table
{
    table-layout: fixed;
    width: 100%;
}

input[type="range"]
{
    display: inline-block;

    width: 90%;

    -webkit-appearance: none;
    -moz-apperance: none;

    background-color: #CCCCCC;
    height: 10px;

    border: 0px solid black;
}

input[type=range]:focus 
{
  outline: none;
}

input[type='range']::-webkit-slider-thumb 
{
    -webkit-appearance: none !important;

    background-color: #FFFFFF;
    border: 1px solid #333333;

    height: 16px;
    width: 5px;

    cursor: pointer;
}

input[type=range]::-moz-range-thumb
{
    -webkit-appearance: none !important;

    background-color: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 1px;

    height: 16px;
    width: 3px;

    cursor: pointer;
}

input[type=range]::-ms-thumb
{
    -webkit-appearance: none !important;

    background-color: #FFFFFF;
    border: 1px solid #333333;

    height: 16px;
    width: 5px;

    cursor: pointer;
}

input[type=range]::-moz-range-track 
{
    background-color: #CCCCCC;
}

td 
{ 
    word-wrap: break-word; 
}

/* Remove the up/down arrows from the 'number' input fields */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] 
{
    -moz-appearance:textfield;
}

.information 
{
    float: right;
    font-size: 11px;
    color: #888;
    cursor: pointer;
    padding-left: 5px;
}

.information:hover 
{
    color: #CCFFCC;
}

.blockotext 
{
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
}

.bigtext 
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: #fff;

    padding-bottom: 20px;
}

#color_templates
{
    background-color: transparent;

    color: #777;
    font-size: 10px;
}

#color_templates:focus 
{
    outline: none;
}