.sample_title 
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #fff;

    padding-right: 10px;
}

.sample_title_inactive
{
    color: #AAA;
    cursor: pointer;
}

.sample_title_inactive:hover
{
    color: #CCFFCC;
}

.sample_box 
{
    overflow: auto;
    padding-top: 5px;
}

.sample_inactive 
{
    display: none;
}

.palette_sample
{
    display: inline-block;
    font-family: Consolas, monospace;

    background-color: transparent;
    border: 0;

    margin-left: 5px;
    width: 80%;
    color: #AAA;
}

.palette_sample:focus 
{
    outline: none;
}